body { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Liberation Sans", Verdana, sans-serif; 
	   background-image: url(puglypixel_basicshapes_09.gif);
	 }

h1, h2, h3 { font-family: "Times New Roman", serif; 
			color: #2E8B57; 
			}

blockquote { padding: 1em 3em 1em 3em; 
			background-color: #F08080; 
			background-image: linear-gradient(180deg, yellow, orange);
			} 

img { border-style: double; 
	border-color: #2E8B57; 
	float: right; 
	border-radius: 1em 2em;
	box-shadow: 6px 6px #666;
	}
