body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #AFEEEE;
	}

h1 {
	text-align:center;
	font-size:3em;
	letter-spacing:10px;
	}
	
img {
	max-width:100%;
	}
	
.section {
	clear:both;
	}

@media screen and (min-width: 500px) {
	nav {
		float:left;
		width:30%;
		}
	
	main {
		float:left;
		width:70%;
		}
	}

@media screen and (min-width: 800px) {
	img {
		float:right;
		max-width:40%;
		}
	}
